# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd

# === Virtual Environment ===
venv/
.venv/
env/

.env
# === Django ===
db.sqlite3
*.sqlite3
media/
staticfiles/
local_settings.py

# Migrations (если не нужно хранить)
# */migrations/
# */migrations/*.py
# !*/migrations/__init__.py

# === Django REST Framework ===
*.log

# === Environment variables ===
.env
.env.*

# === IDE ===
.idea/
.vscode/
*.iml

# === OS ===
.DS_Store
Thumbs.db

# === Tests & coverage ===
.coverage
htmlcov/
.pytest_cache/

# === Build ===
build/
dist/
*.egg-info/

# === Jupyter ===
.ipynb_checkpoints/
